<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample
App</title>
</head>
<body>
<h1>August_04 ~/h263_aug04 -b master</h1>
<p>
This is the home page for the
<a href="https://www.railstutorial.org/">Ruby on Rails
Tutorial</a>
sample application.
</p>
</body>
</html>
