<!--Листинг 5.11: 
Листинг 5.24: Партиал подвала со ссылками. app/views/layouts/_footer.html.erb
 -->
<footer class="footer">
  <small>
    The <a href="http://www.libr.asf.dp.ua/">libr.asf.dp.ua</a>
    by <a href="http://www.michaelhartl.com/">Sergei Agarkov</a>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
<li><%#= link_to "Referat", referat_path %></li> 
     <li><%#= link_to "July07", july07_path %></li>
	 <li><%#= link_to "Readme", readme_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>

